* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: hsl(25, 97%, 53%);
    --secondary-color: hsl(213, 19%, 18%);
    --primary-text-color: hsl(0, 0%, 100%);
    --secondary-text-color: hsl(217, 12%, 63%);
    --section-color: hsla(213, 19%, 18%, .7);
    --checked-color: hsl(216, 12%, 54%);
    --background-color: hsl(216, 12%, 8%);
    font-size: 15px;
    font-family: Overpass, sans-serif;
    color: var(--secondary-text-color);
}

body {
    background-color: var(--background-color);
}

main {
    width: 100vw;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;
}

section {
    background-color: var(--section-color);
    width: min(410px, 95vw);
    height: fit-content;
    margin: 1rem auto;
    padding: 2rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
}

.circle {
    width: 3.3rem;
    height: 3.3rem;
    border-radius: 50%;
    padding: 1rem;
    background-color: var(--secondary-color);
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

#star {
    order: -1;
    margin-bottom: 2rem;
}

h1 {
    color: var(--primary-text-color);
    font-size: 1.9rem;
    margin-bottom: 1rem;
}

p {
    line-height: 1.5rem;
    margin-bottom: 2rem;
}

#rate-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 2rem;
    gap: 5px;
    border: 0;
}

input[type="radio"] {
    appearance: unset;
    position: absolute;
}

input[type="radio"]:checked {
    background-color: var(--checked-color);
    color: var(--primary-text-color);
}

#rate-wrapper > .circle:hover,
#rate-wrapper > .circle:focus,
input[type="submit"] {
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
}

input[type="submit"] {
    width: 100%;
    border: 0;
    border-radius: 1.5rem;
    padding: 1rem;
    letter-spacing: .4rem;
    font-weight: 700;
}

input[type="submit"]:hover {
    background-color: var(--primary-text-color);
    color: var(--primary-color)
}

#thanks-state {
    position: absolute;
    align-items: center;
    text-align: center;
    transition-duration: .5s;
}

figure {
    margin-top: 1rem;
}

figcaption {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: .5rem 1rem;
    border-radius: 1rem;
    margin-block: 2rem;
    line-height: 1;
}

.transparent {
    opacity: 0;
    z-index: -1;
    transition-duration: .5s;
}

